<div ng-controller='sfcrimesController'>
	<h3>San Francisco</h3>
	<button ng-click='getCrimes()'>Get Crimes</button>
	<br>

	Enter location: <input type="text" ng-model='new_position'></input>
	<input type="submit" value="Enter" ng-click='get_position()'></input>

<!-- 	<map ng-transclude class='google-map' center='map.center' zoom='12'>
		<marker ng-repeat='crime in crimes' lat='crime.lat' lng='crime.long' events='marker.events' description='crime.description' datetime='crime.datetime'>

		</marker>
	</map> -->
	<div id="map"></div>
</div>
		
		
		
		
		
		

