html,body {
				height : 100%;
				margin: 0;
				padding: 0;
				background-color: black;
}
#map {
	height: 500px;
	margin: 10px;
}

button	{
	color: blue;
}
.infoWindowContent {
	color: red;
}
#header {


}
#views {
	margin: 10px;
}
h2 {
	margin: 10px;
}
